@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow-selected {
    box-shadow: 0px 4px 8px 0px #373E4440; 
}

.shadow-top {
    box-shadow: 11px -14px 16px 0px #0000001A;
  }

.background-image {
    background-image: url('../../public/RecipeBg.png');
    background-size: cover;
    background-position: center;
}